# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [16]:
# for keyword, counter/iterator variable, in keyword, object

name = "Ryan Rhoades"

# for keyword iterator variable, in keyword the thing were looping through
#for letter in name:
   # print(letter)

# number = 123456

#for num in number:
#   print(num)
# we cant iterate through integers

# range()
# length()

print(len(name))


# looping by index
#for keyword, iteratoe variable, in keyword range(len(object))

for i in range(len(name)):
    print(name[i])

#print(name[0])

12
R
y
a
n

R
h
o
a
d
e
s

In [20]:
# enumerate()

name = "Ryan Rhoades"

for i, value in enumerate(name):
    print(i, value)

0 R
1 y
2 a
3 n
4
5 R
6 h
7 o
8 a
9 d
10 e
11 s

In [15]:
name2 = "Alex"
name3 = "Justin"
name4 = "Razvan"

print(len(name2))
print(len(name3))
print(len(name4))

4
6
6

##### Using 'in' keyword

In [21]:
#in is what accesses the items in an iterable

for num in range(15):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [27]:
name = "mega man"
if "g" in  name:
    print("yay its here")
else:
    print("its not here")

yay its here

##### Continue Statement

In [30]:
#continue
#for num in range(20):
   # print(num)

# continue on to the next iteration
for i in range(20):
    if i == 5 or i ==6:
        continue
    print(i)

0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [34]:
# will break out of current loop
# we use break as part of a condition
for num in range (10):
    print(num)
print("\n")

# using the break keyword with a condition
for num in range(10):
    if num == 7:
        break
    print(num)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6

##### Pass Statement

In [35]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(20):
    pass

def my_func():
    pass

In [55]:
cool_person = "Yugi Moto"
# loop through cool_person using three for loops we talked about earlier
# loop by value
# loop by index
# loop with enumerate
#"""
#output:
#Y
#u
#g
#i
#
#M
#o
#t
#o
#
#"""

# enumerate
for i, value in enumerate(cool_person):
    print(value)

#loop by index
for i in range(len(cool_person)):
    print(cool_person[i])

# value
for letter in cool_person:
    print(letter)

Y
u
g
i

M
o
t
o
Y
u
g
i

M
o
t
o
Y
u
g
i

M
o
t
o

##### Double For Loops

In [57]:
for i in range(5):
    print("\n")
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4


i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4


i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4


i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4


i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

In [60]:
name = "duck"
name2 = "goose"

for char in name:
    print(char)
    for char2 in name2:
        print(char2)

d
g
o
o
s
e
u
g
o
o
s
e
c
g
o
o
s
e
k
g
o
o
s
e

### While Loops

In [72]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0 
while counter < 11:
    print(counter)
    counter += 1   

print("\n")

num = 0
while num < 15:
    print(num**2)
    num += 1

0
1
2
3
4
5
6
7
8
9
10


0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### looping 'While True'

In [73]:
# true as a condition for while loop to run
game_over = False
while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

In [75]:
# while loop with while True with user input
# the loop will break when the user enters quit
while True:
    name = input("what is your name?")
    if name == "quit":
        print("bye bye")
        break
    print(name)

what is your name? marcel

marcel

what is your name? quit

bye bye

In [78]:
game = True

my_list = [1, 2, 3, 4, 5, 6]
index = 0
while game: # while True because game == True
    if my_list[index] == 4:
        game = False
    print(my_list[index])
    index += 1

1
2
3
4

##### While & For Loops Used Together

In [86]:
j = 0

while j < 10:
    print("\n While Loop Iterations", j)

    for i in range (2):
        print("For Loop Iteration", i)

    j += 1

 While Loop Iterations 0
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 1
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 2
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 3
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 4
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 5
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 6
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 7
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 8
For Loop Iteration 0
For Loop Iteration 1

 While Loop Iterations 9
For Loop Iteration 0
For Loop Iteration 1

##### The Range Function

In [90]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
#             stop

for num in range(10):
    print(num)
print("\n")
#               start, stop
for num in range(1, 10):
    print(num)
print("\n")
#                start stop step
for num in range(1, 10, 2):
    print(num)

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
3
5
7
9

### String Manipulation Exercise

In [95]:
# looping through a list
#my_names = ["Ryan", "Alex", "Justin", "Razvan"]
#for name in my_names:
   # print(name)

names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for name in names:
    stripname = name.strip().title()
    print(stripname)

Connor
Max
Evan
Jordan

In [98]:
clean_names = []
for name in names:
    clean_names.append(name.strip().title())
    
print(clean_names)

['Connor', 'Max', 'Evan', 'Jordan']

## Lists

##### Declaring Lists

In [100]:
our_list = []  # <---- empty list

names = ["Ryan", "Alex", "Liz", "William", "Razvan"]
numbers = [1, 2, 3, 4, 5, 6]
things = ["Dog", 2, [1,2,3,4], "person"]
print(names)
print(things)

['Ryan', 'Alex', 'Liz', 'William']
['Dog', 2, [1, 2, 3, 4], 'person']

##### Indexing a List

In [108]:
# [start: stop: step] --> last item [-1]
#           0      1       2       3          4
names = ["Ryan", "Alex", "Liz", "William", "Razvan"]
print(names[3])
# regardless of list lenght, -1 will always be the last index (position)
print(names[-1])
# LIST SLICING
# print a portion of list starting at index 1 and going to the end of the list
print(names[1:])
#print starting at the begining of the list and go to a specified index
print(names[:3])
# stepping through list by 2
print(names[1::2])
# print stepping backwards through the list
print(names[::-1])

reversed_names = names[::-1]
print(reversed_names)

William
Razvan
['Alex', 'Liz', 'William', 'Razvan']
['Ryan', 'Alex', 'Liz']
['Alex', 'William']
['Razvan', 'William', 'Liz', 'Alex', 'Ryan']
['Razvan', 'William', 'Liz', 'Alex', 'Ryan']

### List Methods

##### .append()

In [110]:
# list.append(thing youre appending) , append will always add to the back of the list
names = ["Ryan", "Alex", "Liz", "William", "Razvan"]
names.append("Rachel")
print(names)

names.append("Mo")
print(names)

['Ryan', 'Alex', 'Liz', 'William', 'Razvan', 'Rachel']
['Ryan', 'Alex', 'Liz', 'William', 'Razvan', 'Rachel', 'Mo']

##### .insert()

In [112]:
#our_list.insert(index, value)

names.insert(1, "Morgan")
print(names)

names.insert(3, "Jeiavonni")
print(names)

['Ryan', 'Morgan', 'Morgan', 'Alex', 'Liz', 'William', 'Razvan', 'Rachel', 'Mo']
['Ryan', 'Morgan', 'Morgan', 'Jeiavonni', 'Alex', 'Liz', 'William', 'Razvan', 'Rachel', 'Mo']

##### .pop()

In [113]:
# list.pop(optional index to pop out)
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

names.pop(5)
print(names)

['Ryan', 'Morgan', 'Morgan', 'Jeiavonni', 'Alex', 'William', 'Razvan', 'Rachel', 'Mo']

##### .remove()

In [115]:
# list.remove(thing to be removed)
# value to be removed, not an index
print(names)
names.remove("Ryan")
print(names)

['Ryan', 'Morgan', 'Morgan', 'Jeiavonni', 'Alex', 'William', 'Razvan', 'Rachel', 'Mo']
['Morgan', 'Morgan', 'Jeiavonni', 'Alex', 'William', 'Razvan', 'Rachel', 'Mo']

### Working With Lists

##### del()

In [117]:
# index to be removed, not value 
print(names)
del names[1]
print(names)

['Morgan', 'Morgan', 'Jeiavonni', 'Alex', 'William', 'Razvan', 'Rachel', 'Mo']
['Morgan', 'Jeiavonni', 'Alex', 'William', 'Razvan', 'Rachel', 'Mo']

##### min()

In [119]:
# return the smallest item in a list
numbers = [2, 5, 1, 6, 47, 12]
print(min(numbers))
names = ["Ryan", "Alex", "Liz", "William", "Razvan"]
print(min(names))

1
Alex

##### max()

In [121]:
# returns largest item in a list
numbers = [2, 5, 1, 6, 47, 12]
print(max(numbers))
names = ["Ryan", "Alex", "Liz", "William", "Razvan"]
print(max(names))

47
William

##### sum()

In [122]:
# return the sum of all numbers in a list
numbers = [2, 5, 1, 6, 47, 12]
print(sum(numbers))

73

##### sorted()

In [129]:
#sorted will return a new sorted list, create a new variable
numbers = [2, 5, 1, 6, 47, 12]
print(sorted(numbers))
sorted_nums = sorted(numbers)
print(sorted_nums)
names = ["Ryan", "Alex", "Liz", "William", "razvan"]
print(sorted(names))

[1, 2, 5, 6, 12, 47]
[1, 2, 5, 6, 12, 47]
['Alex', 'Liz', 'Ryan', 'William', 'razvan']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [127]:
#.sort() will sort the original list
numbers = [2, 5, 1, 6, 47, 12]
sorted_nums = numbers.sort()
#print(sorted_nums)
print(numbers)

[1, 2, 5, 6, 12, 47]

##### Copying a List

In [131]:
# [:] copies a list, doesn't alter original'
names = ["Ryan", "Alex", "Liz", "William", "Razvan"]
print(names[:])
names_copy = names[:]
print(names_copy)

['Ryan', 'Alex', 'Liz', 'William', 'Razvan']
['Ryan', 'Alex', 'Liz', 'William', 'Razvan']

##### Looping Through Lists

In [134]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

# looping by enumerate
for i, n in enumerate(names):
    print(i, n)

# looping by index
for i in range(len(names)):
    print(names[i])

#looping by value
for name in names:
    print(name)

0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu
Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu

##### 'in' keyword

In [138]:
names = ["Ryan", "Alex", "Liz", "William", "Razvan"]

if "Liz" in names:
    print("yay Liz")
else:
    print("boo no Liz")

yay Liz

##### 'not in' keyword

In [139]:
names = ["Ryan", "Alex", "Liz", "William", "Razvan"]

if "Frederick" not in names:
    print("no frederick")
else:
    print("yes frederick")

no frederick

##### Checking an Empty List

In [146]:
l_2 = []
l_3 = None
if l_2  == []:
    print("that list is empty")

if l_2 == l_3:
    print("yes")
else:
    print("no")

if l_2:
    print("this list has stuff")
else:
    print("this list doesnt have stuff")

that list is empty
no
this list doesnt have stuff

##### Removing Instances with a Loop

In [149]:
#while, remove
names = ["Ryan", "Alex", "Alex", "Liz", "William", "Razvan"]
for name in names:
    if name == "Alex":
        names.remove(name)
print(names)

# using while loop with remove
while "Alex" in names:
    names.remove("Alex")
print(names)

['Ryan', 'Alex', 'Liz', 'William', 'Razvan']
['Ryan', 'Liz', 'William', 'Razvan']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [150]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
norepeat = []
for name in names:
    if name not in norepeat:
        norepeat.append(name)
print(norepeat)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [3]:
# square every even number
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = [x**2 for x in nums if x%2 == 0] 
print(nums_squared)

squared_nums = []
for x in nums:
    if x%2 ==0:
        squared_nums.append(x**2)
print(squared_nums)

[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [8]:
tup_1 = (1, 2, 3) # one way to create tuple, items separeted by commas in paretheses
tup_2 = 4, 5, 6 # another just items separated by commas
print(tup_2)

print(type(tup_1))

print("tuple_lenght", len(tup_2))

for num in tup_2:
    print(num)

for i in range(len(tup_1)):
    print(tup_1[i])

(4, 5, 6)
<class 'tuple'>
tuple_lenght 3
4
5
6
1
2
3

##### sorted()

In [12]:
tup = (20, 5, 1, 10, 95, 123)
sorted_tup_list = sorted(tup)
print(sorted_tup_list)

some_list = [5, 12, 654, 234, 76, 23]
sorted_list = sorted(some_list)
print(sorted_list)

new_tup = tuple(sorted_tup_list)
print(new_tup)

new_new_tup = new_tup + sorted_list

[1, 5, 10, 20, 95, 123]
[5, 12, 23, 76, 234, 654]
(1, 5, 10, 20, 95, 123)

##### Adding values to a Tuple

In [14]:
tup = (20, 5, 1, 10, 95, 123)
print(tup)

tup = tup + (6,)
print(tup)

(20, 5, 1, 10, 95, 123)
(20, 5, 1, 10, 95, 123, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [15]:
alist = [1,11,14,5,8,9]

listfilter = [num for num in alist if num < 10]
print(listfilter)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [17]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

mergedlist = l_1 + l_2
mergedlist.sort()
print(mergedlist)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [20]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
square_num = [num ** 2 for  num in range(1, 16)]
print(square_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>
<p>Hint: There is an empty string at the end of the list you will need to account for.

In [23]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']
filtered_names = [name.strip().title() for name in names_list if name.strip().lower().startswith('a')]

print(filtered_names)

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>
<p>Hint: A Prime # is any # that is ONLY divisible by 1 and itself. So think how you can iterate through the list of #s from 1 to 100 and check to see if its divisible by ANY # below it.
<p>The For/Each might be very helpful for this question. 
https://www.geeksforgeeks.org/using-else-conditional-statement-with-for-loop-in-python/